@import url("https://fonts.googleapis.com/css?family=Roboto+Serif");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
}

@theme {
  --font-rs: "Roboto+Serif", serif;
  --font-rm: "Roboto+Mono", monospace;

  --color-abyss: oklch(22.94% 0.0247 213.85);
  --color-gunmetal: oklch(26.2% 0.0459 213.85);
  --color-midnight: oklch(36.62% 0.0439 211.41);
  --color-slate-gray: oklch(46.67% 0.0385 210.53);
  --color-cadet-gray: oklch(65.47% 0.0246 210.42);
  --color-white: oklch(100% 0 0);

  --drop-shadow-c: 0 10px 10px rgba(0, 0, 0, 0.5); 

}